html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.mySidenav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  height: 100%;
  z-index: 1000;
  -webkit-box-shadow: -1px 0 2px 0 #b3b3b3;
  -moz-box-shadow: -1px 0 2px 0 #b3b3b3;
  box-shadow: -1px 0 2px 0 #b3b3b3;
  transition: all .3s;
  overflow-x: hidden; }
  .mySidenav.slim {
    width: 60px; }
    .mySidenav.slim .fix-li {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important; }
      .mySidenav.slim .fix-li li {
        width: 100%; }
        .mySidenav.slim .fix-li li.mySidenavToggle {
          width: 100%;
          padding-left: 25px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 20px; }
          .mySidenav.slim .fix-li li.mySidenavToggle #toggle {
            width: 100%;
            color: #3D4E60 !important; }
            .mySidenav.slim .fix-li li.mySidenavToggle #toggle:hover {
              color: #2bceba !important; }
            .mySidenav.slim .fix-li li.mySidenavToggle #toggle #toggler {
              transform: rotate(0); }
            .mySidenav.slim .fix-li li.mySidenavToggle #toggle span {
              margin-right: 30px;
              font-size: 17px;
              transition: all .2s;
              transition-delay: .2s;
              display: none; }
        .mySidenav.slim .fix-li li.sn-menu {
          margin-top: 20px;
          width: 100%; }
          .mySidenav.slim .fix-li li.sn-menu .sn-items {
            width: 100%;
            padding-left: 3px;
            list-style: none; }
            .mySidenav.slim .fix-li li.sn-menu .sn-items .item {
              width: 52px;
              font-size: 17px;
              margin-bottom: 10px;
              text-align: center;
              margin-right: 0 !important; }
              .mySidenav.slim .fix-li li.sn-menu .sn-items .item a.collapsable-header {
                font-size: 17px;
                color: #3D4E60 !important; }
                .mySidenav.slim .fix-li li.sn-menu .sn-items .item a.collapsable-header:hover {
                  color: #2bceba !important; }
                .mySidenav.slim .fix-li li.sn-menu .sn-items .item a.collapsable-header span {
                  display: none;
                  margin-right: 20px;
                  font-size: 17px;
                  transition: all .2s;
                  transition-delay: .2s; }
        .mySidenav.slim .fix-li li.logo-sn {
          list-style: none;
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0;
          position: relative; }
          .mySidenav.slim .fix-li li.logo-sn .image-container {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px auto !important;
            position: relative; }
            .mySidenav.slim .fix-li li.logo-sn .image-container img {
              width: 100%;
              height: 100%; }
          .mySidenav.slim .fix-li li.logo-sn .username {
            position: absolute;
            text-align: center;
            color: transparent; }
  .mySidenav.wide {
    width: 240px; }
    .mySidenav.wide .fix-li {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important; }
      .mySidenav.wide .fix-li li {
        width: 100%;
        padding-right: 10px; }
        .mySidenav.wide .fix-li li.mySidenavToggle {
          width: 240px;
          padding-left: 25px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 20px; }
          .mySidenav.wide .fix-li li.mySidenavToggle #toggle {
            color: #3D4E60 !important; }
            .mySidenav.wide .fix-li li.mySidenavToggle #toggle:hover {
              color: #2bceba !important; }
            .mySidenav.wide .fix-li li.mySidenavToggle #toggle #toggler {
              transform: rotate(180deg); }
            .mySidenav.wide .fix-li li.mySidenavToggle #toggle span {
              position: relative;
              opacity: 1;
              visibility: visible;
              bottom: 3px;
              right: 10px;
              margin-left: 20px;
              font-size: 17px;
              transition: all .2s; }
        .mySidenav.wide .fix-li li.sn-menu {
          margin-top: 20px;
          width: 100%; }
          .mySidenav.wide .fix-li li.sn-menu .sn-items {
            width: 240px;
            padding-right: 3px;
            list-style: none;
            padding-left: 25px !important; }
            .mySidenav.wide .fix-li li.sn-menu .sn-items .item {
              width: 100%;
              font-size: 17px;
              margin-bottom: 10px; }
              .mySidenav.wide .fix-li li.sn-menu .sn-items .item a.collapsable-header {
                font-size: 17px;
                color: #3D4E60 !important; }
                .mySidenav.wide .fix-li li.sn-menu .sn-items .item a.collapsable-header:hover {
                  color: #2bceba !important; }
                .mySidenav.wide .fix-li li.sn-menu .sn-items .item a.collapsable-header span {
                  opacity: 1;
                  visibility: visible;
                  padding-left: 20px;
                  font-size: 17px;
                  transition: all .2s; }
        .mySidenav.wide .fix-li li.logo-sn {
          list-style: none;
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0; }
          .mySidenav.wide .fix-li li.logo-sn .image-container {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 10px auto !important; }
            .mySidenav.wide .fix-li li.logo-sn .image-container img {
              width: 100%;
              height: 100%; }
          .mySidenav.wide .fix-li li.logo-sn .username {
            width: 240px;
            position: relative;
            text-align: center;
            color: #3d4e60;
            top: 0; }

.custom-navbar {
  z-index: 999 !important;
  background-color: #3D4E60 !important;
  color: white !important;
  padding-left: 60px; }
  .custom-navbar .button-collapse {
    color: white !important; }
  .custom-navbar .nav {
    padding-top: 6px; }
  .custom-navbar li {
    color: white !important; }
    .custom-navbar li a {
      color: white !important; }
    .custom-navbar li .dropdown-menu {
      color: #3D4E60 !important; }
      .custom-navbar li .dropdown-menu a {
        color: #3D4E60 !important; }
        .custom-navbar li .dropdown-menu a:hover {
          background-color: #2bceba !important; }

.w-200 {
  width: 200px !important; }

.converter {
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  top: 30%;
  width: 450px;
  padding: 7px 25px;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(61, 78, 96, 0.4);
  border-right: transparent;
  transition: all .7s; }
  .converter.converter-open {
    right: 0; }
    .converter.converter-open .toggle i {
      transform: translate(5px, 3px) rotate(180deg); }
  .converter.converter-close {
    right: -450px; }
    .converter.converter-close .toggle i {
      transform: translate(5px, 3px) rotate(0); }
  .converter .toggle {
    background-color: #3d4e60;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 10px 0 0 10px; }
    .converter .toggle .title {
      display: inline-block;
      transform: translateX(-2px) rotate(-90deg); }
    .converter .toggle i {
      font-size: 16px; }
  .converter .content .row .tabs {
    padding-top: 11px;
    padding-bottom: 11px; }
  .converter .content .row .nav-pills .nav-link {
    font-size: 14px;
    font-weight: normal; }
  .converter .content .row .nav-pills .nav-link.active {
    background-color: #3D4E60;
    color: white !important; }
  .converter .content .row .tab-content {
    padding: 10px 25px;
    border-radius: 0;
    height: 100%;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent; }

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 2px 0 rgba(61, 78, 96, 0.75);
  -moz-box-shadow: 0 0 2px 0 rgba(61, 78, 96, 0.75);
  box-shadow: 0 0 2px 0 rgba(61, 78, 96, 0.75);
  border: 0;
  overflow-x: hidden; }
  .card .title {
    padding: 6px 10px;
    background-color: white !important;
    color: #3D4E60;
    text-align: center;
    border-bottom: 1px solid rgba(61, 78, 96, 0.3); }
  .card form {
    padding: 20px 5px; }
  .card > div {
    padding: 20px 5px; }
    .card > div h3, .card > div h5 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 14px; }
    .card > div#wallets, .card > div#bank-accounts {
      padding: 20px; }
    .card > div#notifications, .card > div#transactions-history {
      padding: 0;
      height: 100%;
      overflow: hidden; }
      .card > div#notifications ul, .card > div#transactions-history ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin-bottom: 41px; }
        .card > div#notifications ul li, .card > div#transactions-history ul li {
          display: block;
          padding: 10px 10px;
          position: relative;
          width: 100%;
          font-size: 14px; }
          .card > div#notifications ul li:nth-child(even), .card > div#transactions-history ul li:nth-child(even) {
            background-color: #ececec; }
          .card > div#notifications ul li:nth-child(odd), .card > div#transactions-history ul li:nth-child(odd) {
            background-color: rgba(236, 236, 236, 0.2); }
      .card > div#notifications .see-more, .card > div#transactions-history .see-more {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 10px 10px;
        background-color: #ececec;
        font-size: 14px; }
    .card > div#draft-page .create h4 {
      font-size: 14px;
      color: #3D4E60;
      text-align: center; }
    .card > div#draft-page .create .create-link {
      text-align: center;
      color: #3D4E60; }
      .card > div#draft-page .create .create-link .link-input {
        padding: 4px 10px;
        border: 1px solid rgba(61, 78, 96, 0.5);
        border-radius: 5px;
        color: #3D4E60;
        width: 140px; }
        .card > div#draft-page .create .create-link .link-input:focus {
          border-color: #3D4E60; }
    .card > div#transaction h2 {
      text-align: center;
      margin-bottom: 40px; }
    .card > div#transaction div {
      text-align: center;
      margin-bottom: 20px;
      font-size: 14px; }
    .card > div#transaction form {
      padding-bottom: 0;
      font-size: 14px; }
    .card > div#dashboard-wallet .wallet-transaction {
      width: 100%;
      min-height: 100px; }
      .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-wallet {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px; }
      .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation {
        padding: 10px;
        margin-top: auto;
        margin-bottom: auto;
        color: #3D4E60;
        text-align: center; }
        .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation .operation {
          display: block;
          padding: 5px;
          font-size: 15px; }
          .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation .operation .square {
            display: inline-block;
            font-weight: bold;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 7px; }
            .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation .operation .square#deposit {
              -webkit-box-shadow: 0 0 1px 0 #b2ebf2;
              -moz-box-shadow: 0 0 1px 0 #b2ebf2;
              box-shadow: 0 0 1px 0 #b2ebf2;
              background-color: #b2ebf2;
              color: #2bceba; }
            .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation .operation .square#withdraw {
              -webkit-box-shadow: 0 0 1px 0 #ffcdd2;
              -moz-box-shadow: 0 0 1px 0 #ffcdd2;
              box-shadow: 0 0 1px 0 #ffcdd2;
              background-color: #ffcdd2;
              color: #e53935; }

.md-form.md-outline input:focus {
  border-color: #3D4E60 !important; }
.md-form.md-outline label {
  color: #3D4E60 !important;
  right: unset !important;
  left: 10px !important; }
  .md-form.md-outline label#token-label {
    top: 17px !important;
    left: 10px !important; }

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  #cover.off {
    background-color: rgba(0, 0, 0, 0);
    z-index: -9999; }
  #cover.on {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998; }

main {
  padding-top: 90px;
  min-height: 100vh;
  background-color: #f1f2f5;
  padding-bottom: 50px; }
  main.panel-container {
    padding-left: 60px; }

.btn-spans {
  background-color: #3D4E60;
  color: white;
  font-size: 14px; }
  .btn-spans:hover {
    text-decoration: none;
    color: white !important; }

.btn-spans-light {
  background-color: #2bceba;
  color: white;
  font-size: 14px; }
  .btn-spans-light:hover {
    text-decoration: none;
    color: white !important; }

.form-box {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  background-image: url("../images/sign-up-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.form-wizard {
  padding: 25px;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 3px #777;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center; }

.form-wizard strong {
  font-weight: 500; }

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
  color: #2aceba;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.form-wizard h1, .form-wizard h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px; }

.form-wizard h3 {
  font-size: 25px;
  font-weight: 300;
  color: #2aceba;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center; }

.form-wizard h4 {
  margin: 20px 0;
  float: left;
  font-size: 20px;
  font-weight: 300;
  color: #2aceba;
  line-height: 26px;
  width: 100%; }

.form-wizard h4 span {
  float: left;
  right: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 26px;
  padding-right: 10px; }

.form-wizard table tr th {
  font-weight: normal; }

.form-wizard img {
  max-width: 100%; }

.form-wizard ::-moz-selection {
  background: #2aceba;
  color: #fff;
  text-shadow: none; }

.form-wizard ::selection {
  background: #2aceba;
  color: #fff;
  text-shadow: none; }

.form-control {
  height: 44px;
  width: 100%;
  margin: 0;
  padding: 0 20px !important;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 44px;
  color: #3D4E60;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 9px;
  margin-left: -20px; }

.form-control option:hover, .form-control option:checked {
  box-shadow: 0 0 10px 100px #2aceba inset; }

.form-control:focus {
  outline: 0;
  background: #fff;
  border: 1px solid #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-control:-moz-placeholder {
  color: #888; }

.form-control:-ms-input-placeholder {
  color: #888; }

.form-control::-webkit-input-placeholder {
  color: #888; }

.form-wizard label {
  font-weight: 300; }

.form-wizard label span {
  color: #2aceba; }

.form-wizard .btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.form-wizard .btn:hover {
  background: #2aceba;
  color: #fff; }

.form-wizard .btn:active {
  outline: 0;
  background: #2aceba;
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus {
  outline: 0;
  background: #2aceba;
  color: #fff; }

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus,
.form-wizard .btn.btn-next.active:focus {
  background: #2aceba; }

.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus,
.form-wizard .btn.btn-submit.active:focus {
  background: #2aceba; }

.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus,
.form-wizard .btn.btn-previous.active:focus {
  background: #2aceba; }

.form-wizard .success h3 {
  color: #4F8A10;
  text-align: center;
  margin: 20px auto !important; }

.form-wizard .success .success-icon {
  color: #4F8A10;
  font-size: 100px;
  border: 5px solid #4F8A10;
  border-radius: 100px;
  text-align: center !important;
  width: 110px;
  margin: 25px auto; }

.form-wizard .progress-bar {
  background-color: #2aceba; }

.form-wizard-steps {
  margin: auto;
  position: relative;
  margin-top: 20px; }

.form-wizard-step {
  padding-top: 10px !important;
  border: 2px solid #fff;
  background: #ccc;
  -ms-transform: skewX(-30deg);
  /* IE 9 */
  -webkit-transform: skewX(-30deg);
  /* Safari */
  transform: skewX(-30deg);
  /* Standard syntax */ }

.form-wizard-step.active {
  background: #2aceba;
  /* Old browsers */
  background: -moz-linear-gradient(270deg, #b1f2eb 0%, #2aceba 80%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(270deg, #b1f2eb 0%, #2aceba 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(270deg, #b1f2eb 0%, #2aceba 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.form-wizard-step.activated {
  background: #2aceba; }

.form-wizard-progress {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 0px;
  background: #2aceba; }

.form-wizard-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  background: #2aceba; }

.form-wizard-tolal-steps-3 .form-wizard-step {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 0 5px; }

.form-wizard-tolal-steps-4 .form-wizard-step {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 5px;
  height: 0; }

.form-wizard-tolal-steps-5 .form-wizard-step {
  position: relative;
  float: left;
  width: 20%;
  padding: 0 5px; }

.form-wizard-step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 25px;
  text-align: center;
  background: #ddd;
  font-size: 16px;
  color: #777;
  line-height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -ms-transform: skewX(30deg);
  /* IE 9 */
  -webkit-transform: skewX(30deg);
  /* Safari */
  transform: skewX(30deg);
  /* Standard syntax */
  position: absolute;
  top: -18px;
  left: 11%; }

.form-wizard-step.activated .form-wizard-step-icon {
  background: #2aceba;
  border: 1px solid #2aceba;
  color: #fff;
  line-height: 38px; }

.form-wizard-step.active .form-wizard-step-icon {
  background: #2aceba;
  border: 1px solid #2aceba;
  color: #3D4E60;
  line-height: 38px; }

.form-wizard-step p {
  color: #ddd;
  -ms-transform: skewX(30deg);
  /* IE 9 */
  -webkit-transform: skewX(30deg);
  /* Safari */
  transform: skewX(30deg);
  /* Standard syntax */
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 18px; }

.form-wizard-step.activated p {
  color: #2aceba; }

.form-wizard-step.active p {
  color: #3D4E60; }

.form-wizard fieldset {
  display: none;
  text-align: left;
  border: 0 !important; }

.form-wizard-buttons {
  text-align: left; }

.form-wizard .input-error {
  border-color: #2aceba; }

/** image uploader **/
.image-upload a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.2s; }

.image-upload a[data-action] i {
  width: 1.25em;
  text-align: center; }

.image-upload a[data-action]:hover {
  color: #2aceba; }

.image-upload a[data-action].disabled {
  opacity: 0.35;
  cursor: default; }

.image-upload a[data-action].disabled:hover {
  color: #555; }

.settings_wrap {
  margin-top: 20px; }

.image_picker .settings_wrap {
  overflow: hidden;
  position: relative; }

.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left; }

.image_picker .settings_wrap .drop_target {
  left: 18px; }

.image_picker .settings_wrap .settings_actions {
  float: left;
  margin-top: 100px;
  margin-left: 20px; }

.settings_actions.vertical a {
  display: block; }

.drop_target {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  width: 250px;
  height: 250px;
  background: #f2f2f2;
  border-radius: 100%;
  margin: 0 auto 25px auto;
  overflow: hidden;
  border: 8px solid #E0E0E0; }

.drop_target input[type="file"] {
  visibility: hidden; }

.drop_target::before {
  content: 'Drop Hear';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  width: 100%;
  line-height: 220px;
  text-align: center;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.2s; }

.drop_target:hover,
.drop_target.dropping {
  background: #f80;
  border-top-color: #cc6d00; }

.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6); }

.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2; }

.md-form.md-outline input[type="text"]:focus:not([readonly]) {
  border-color: #3D4E60 !important;
  box-shadow: inset 0 0 0 1px #3D4E60 !important; }

.md-form.md-outline input[type="text"]:focus:not([readonly]) + label,
.md-form.md-outline input[type="password"]:focus:not([readonly]) + label {
  color: #3D4E60 !important; }

.md-form.md-outline label.tooTop {
  top: 63px !important; }

.btn-spans {
  background-color: #3D4E60 !important;
  color: white !important;
  font-size: 14px;
  padding: 8px 30px; }
  .btn-spans:hover {
    text-decoration: none;
    color: white !important; }

.btn-spans-light {
  background-color: #2bceba !important;
  color: white !important;
  font-size: 14px;
  padding: 7px 25px; }
  .btn-spans-light:hover {
    text-decoration: none;
    color: white !important; }

.file-field input[type="file"] {
  background-color: #3D4E60 !important;
  color: white !important; }

.form-control:focus {
  border-color: #3D4E60 !important;
  box-shadow: inset 0 0 0 1px #3D4E60 !important; }

.md-form.md-outline {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-height: 75px !important; }

.step-form {
  width: 100% !important;
  margin-top: 65px; }

@media (max-width: 500px) {
  .form-wizard-step-icon {
    left: unset;
    right: 20%; }
    .form-wizard-step-icon + p {
      right: unset !important;
      left: 40% !important; }
      .form-wizard-step-icon + p.large-word {
        left: 10% !important; }

  .form-wizard .btn.btn-spans-light,
  .form-wizard .btn.btn-spans {
    padding: 0 18px !important; } }
.step-form .caret {
  top: 5px !important;
  right: 7px !important; }

.md-form.md-outline {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-height: 75px !important; }

a {
  color: #3d4e60 !important; }

.custom-thead {
  background-color: #3D4E60;
  color: #fff; }

#disabled-label {
  top: 18px !important; }

.custom-table-head {
  padding: 8px 25px;
  background-color: #3D4E60;
  color: #fff;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.custom-table-body {
  list-style: none;
  padding: 8px 25px;
  color: #3D4E60;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom: 0.5px solid rgba(61, 78, 96, 0.3);
  margin-bottom: 0; }
  .custom-table-body:nth-child(even) {
    background-color: #fff; }
  .custom-table-body:nth-child(odd) {
    background-color: #ececec; }
  .custom-table-body:nth-last-child(1) {
    border: none; }

.add-bank-account, .add-wallet {
  display: block;
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border: 1px solid #3D4E60;
  border-radius: 15px;
  color: #3D4E60;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(61, 78, 96, 0.6);
  box-shadow: 0px 0px 1px 1px rgba(61, 78, 96, 0.6);
  font-size: 13px; }
  .add-bank-account:hover, .add-wallet:hover {
    border-color: #2bceba;
    color: #2bceba;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(43, 206, 186, 0.6);
    box-shadow: 0px 0px 1px 1px rgba(43, 206, 186, 0.6); }
  .add-bank-account span, .add-wallet span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(43, 206, 186, 0.2); }

.add-bank-account-header {
  background-color: #3D4E60;
  color: white;
  text-align: center; }

.close {
  color: #fff;
  opacity: 1 !important;
  text-shadow: none !important;
  transition: all .3s; }
  .close:hover {
    color: #ff4444; }

.md-form {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.select-wrapper input.select-dropdown {
  height: 44px; }

.select-wrapper span.caret {
  right: 10px !important;
  top: 15px !important; }

.input-warning {
  color: #ff4444;
  font-size: 12px;
  position: relative;
  bottom: 10px; }

.sign-up-select {
  display: block !important;
  height: 44px;
  width: 100%; }

.custom-select-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 75px; }
  .custom-select-wrapper .sign-up-select {
    display: block !important;
    height: 44px;
    width: 100%;
    padding: 0 20px !important;
    color: #3d4e60; }

#daily-report .title {
  text-align: center; }
#daily-report .container .reports .report {
  color: #3D4E60;
  border-right: 1px solid rgba(0, 0, 0, 0.4); }
  #daily-report .container .reports .report:nth-last-child(1) {
    border: none; }
  #daily-report .container .reports .report .subject {
    text-align: center; }
  #daily-report .container .reports .report .ans {
    text-align: center;
    font-weight: bold;
    color: #2bceba;
    margin-top: 15px; }

.balance {
  margin-bottom: 10px; }

.wallet {
  width: 100%;
  min-height: 150px;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 20px; }
  .wallet.tooman-wallet {
    background: #d40f0f;
    background: -moz-linear-gradient(40deg, #d40f0f 0%, white 50%, #07850b 100%);
    background: -webkit-linear-gradient(40deg, #d40f0f 0%, white 50%, #07850b 100%);
    background: linear-gradient(40deg, #d40f0f 0%, white 50%, #07850b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d40f0f",endColorstr="#07850b",GradientType=1); }
  .wallet.spans-wallet {
    background: white;
    background: -moz-radial-gradient(circle, white 15%, #2aceba 85%);
    background: -webkit-radial-gradient(circle, white 15%, #2aceba 85%);
    background: radial-gradient(circle, white 15%, #2aceba 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2aceba",GradientType=1); }
  .wallet.paypal-wallet {
    background: #002f86;
    background: -moz-linear-gradient(0deg, #002f86 0%, #17a5e1 100%);
    background: -webkit-linear-gradient(0deg, #002f86 0%, #17a5e1 100%);
    background: linear-gradient(0deg, #002f86 0%, #17a5e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002f86",endColorstr="#17a5e1",GradientType=1); }
    .wallet.paypal-wallet .wallet-name, .wallet.paypal-wallet .wallet-balance, .wallet.paypal-wallet .edit {
      color: white !important; }
      .wallet.paypal-wallet .wallet-name a, .wallet.paypal-wallet .wallet-balance a, .wallet.paypal-wallet .edit a {
        color: white !important; }
  .wallet .edit {
    color: #3d4e60;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    right: 30px; }
  .wallet .wallet-name, .wallet .wallet-balance {
    text-align: center;
    color: #3d4e60;
    margin-bottom: 20px; }
  .wallet .choose-operation .operation {
    display: block;
    padding: 7px 10px;
    font-size: 13px;
    border-radius: 7px; }
    .wallet .choose-operation .operation.operation-deposit {
      -webkit-box-shadow: 0 0 1px 0 #c8e6c9;
      -moz-box-shadow: 0 0 1px 0 #c8e6c9;
      box-shadow: 0 0 1px 0 #c8e6c9;
      background-color: #c8e6c9;
      color: #388e3c !important; }
    .wallet .choose-operation .operation.operation-withdraw {
      -webkit-box-shadow: 0 0 1px 0 #ffcdd2;
      -moz-box-shadow: 0 0 1px 0 #ffcdd2;
      box-shadow: 0 0 1px 0 #ffcdd2;
      background-color: #ffcdd2;
      color: #e53935 !important; }

#converter-dropdown {
  width: 95vw;
  right: -320px !important;
  left: unset;
  top: 55px;
  padding: 10px 25px !important; }
  #converter-dropdown .converted-currency1, #converter-dropdown .converted-currency2 {
    margin-right: 10px; }
  #converter-dropdown .dropdown-item {
    display: none; }

#convertTab, #transactionTab {
  background-color: #3d4e60; }
  #convertTab .nav-item a, #transactionTab .nav-item a {
    text-align: center;
    color: #fff !important;
    opacity: 1; }

.converted-currency1, .converted-currency2 {
  text-align: center; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.tab-content {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px; }
  .tab-content#transactionTabContentJust, .tab-content#convertTabContentJust {
    padding: 20px 5px; }

.btn {
  margin: 0;
  border-radius: 2px; }

.md-form .form-control {
  margin: 0; }

.select-wrapper input.select-dropdown {
  font-size: 14px;
  margin: 0;
  line-height: 44px; }

.md-form.md-outline label {
  font-size: 16px; }

.account-details {
  border: 1px solid rgba(61, 78, 96, 0.4);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1px 0 rgba(61, 78, 96, 0.4); }
  .account-details .image-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; }
    .account-details .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .account-details .text-container {
    width: 100%;
    padding: 25px 10px;
    padding-bottom: 0; }
    .account-details .text-container .name {
      text-align: center;
      color: #3d4e60;
      margin-bottom: 10px; }
    .account-details .text-container .email {
      text-align: center;
      color: rgba(61, 78, 96, 0.6); }

.btn-small {
  padding: 7px; }

.link-edit {
  direction: ltr;
  text-align: left;
  margin-bottom: 20px; }
  .link-edit .link {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 75px; }

@media (max-width: 992px) {
  main {
    padding-top: 60px; }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 0;
    padding-right: 0; }

  table th, table td {
    font-size: 14px; }

  .btn-spans, .btn-spans-light {
    font-size: 14px;
    padding: 7px 25px !important; }

  .nav-link {
    padding: 3px 8px;
    font-size: 14px; }

  .custom-navbar li a {
    font-size: 10px;
    font-weight: bold;
    padding-right: 0 !important; }

  #draft-page .create .create-link label {
    font-size: 14px; }
  #draft-page .create .create-link .link-input {
    width: 120px !important; }

  #account-dropdown {
    left: -50px; }

  #converter-dropdown {
    right: -250px !important;
    top: 30px; }
    #converter-dropdown .row {
      display: none; }
    #converter-dropdown .dropdown-item {
      display: block; }

  #daily-report .container .reports .report {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0 15px;
    padding: 10px 0; }
    #daily-report .container .reports .report .ans {
      margin-top: 0; }

  .card > div#notifications, .card > div#transactions-history {
    overflow-y: scroll; }

  .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-wallet {
    width: 100%; }

  .card > div#dashboard-wallet .wallet-transaction .wallet-content .choose-operation .operation {
    display: inline-block;
    padding: 3px; }

  #convertTab .nav-item a, #transactionTab .nav-item a {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 7px; }

  .card > div {
    overflow-x: scroll; }

  .search-result {
    overflow-x: scroll; }

  .converter {
    display: none; } }

/*# sourceMappingURL=style_en.css.map */
